<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>View Customer</title>
</head>
<body>
<h1>View Customer</h1>
<a href="/customer">List Customer</a>
<table>
    <tr>
        <td>First Name:</td>
        <td th:text="${customer.getFirstName()}"></td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td th:text="${customer.getLastName()}"></td>
    </tr>
    <tr>
        <td>Province Name:</td>
        <td th:text="${customer.province.name}"></td>

    </tr>
</table>
</body>
</html>