<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit customer</h1>
<a href="/province">List province</a>
<!--/*@thymesVar id="message" type="java"*/-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form action="/province/edit" th:object="${province}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name province:</td>
            <td><input type="text" name="name" th:value="${province.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>

</form>

</body>
</html>